<div class="container-page">
  <div class="container-div">
    <div class="div-biography">
      <h1 class="biography">BIOGRAFIA</h1>
    </div>
    <div class="container-photo">
      <div class="div-photo col-6">
        <div style="text-align: center;">
          <img class="photo-erick" src="https://iili.io/HY2xgfa.jpg" alt="Erick Kogake">
        </div>
        <div class="div-biography">
          <ul  class="div-ul">
            <a href="https://github.com/erickkogake" target="_blank"><li style="list-style: none;"><img style="width: 45px;"src="https://iili.io/HYqprG4.png"></li></a>
            <a href="https://www.instagram.com/erickkogakekk/" target="_blank"><li style="list-style: none;"><img style="width: 45px;"src="https://iili.io/HYqyklV.png"></li></a>
            <a href="https://www.linkedin.com/in/erick-kogake-gardino-de-oliveira-b2b766230/" target="_blank"><li style="list-style: none;"><img style="width: 45px;"src="https://iili.io/HYqygOF.png"></li></a>
          </ul>
        </div>
      </div>
      <div class="col-6">
        <p class="text-about"><b>Olá, pessoal!</b><br><br> Meu nome é Erick, tenho 24 anos e moro na grande São Paulo.
          Sou formado em Engenharia Civil, e atualmente estou cursando Análise e
          Desenvolvimento de Sistemas pela Universidade Cruzeiro do Sul.</p>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-page-skills">
  <section>
    <div class="container-divs text-center">
      <h2>HABILIDADES</h2>
      <hr class="hr-width">
    </div>

    <div class="container-div-skills">
      <div class="container-photo">
        <div class="col-6 padding div-skills-js">
          <div class="text-center" style="display:flex; justify-content: center;">
            <div class="padding-right">
              <img style="width: 40px;" src="https://iili.io/HYqamqG.png">
            </div>
            <div class="center container-photo" style="margin-top: 5px">
              <h2 >JavaScript</h2>
            </div>
          </div>

        </div>
        <div class="col-6 padding div-skills-angular">
          <div class="text-center" style="display:flex; justify-content: center;">
            <div class="padding-right">
              <img style="width: 40px;" src="https://iili.io/HYqS1iG.png">
            </div>
            <div class="center container-photo" style="margin-top: 5px">
              <h2 >Angular</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container-photo">
        <div class="col-6 padding div-skills-html">
          <div class="text-center" style="display:flex; justify-content: center;">
            <div class="padding-right">
              <img style="width: 40px;" src="https://iili.io/HYqrM0J.png">
            </div>
            <div class="center container-photo" style="margin-top: 5px">
              <h2 >HTML</h2>
            </div>
          </div>
        </div>
        <div class="col-6 padding div-skills-css">
          <div class="text-center" style="display:flex; justify-content: center;">
            <div class="padding-right">
              <img style="width: 40px;" src="https://iili.io/HYq6CGe.png">
            </div>
            <div class="center container-photo" style="margin-top: 5px">
              <h2 >CSS</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container-photo">
        <div class="col-6 padding div-skills-node">
          <div class="text-center" style="display:flex; justify-content: center;">
            <div class="padding-right">
              <img style="width: 40px;" src="https://iili.io/HYq6KjS.png">
            </div>
            <div class="center container-photo" style="margin-top: 5px">
              <h2>NodeJs</h2>
            </div>
          </div>
        </div>
        <div class="col-6 padding div-skills-react">
          <div class="text-center" style="display:flex; justify-content: center;">
            <div class="padding-right">
              <img style="width: 40px;" src="https://iili.io/HYqSoog.png">
            </div>
            <div style="width: 40px;" class="center container-photo" style="margin-top: 5px">
              <h2>ReactJs</h2>
            </div>
          </div>
        </div>
      </div>
        <div class="container-photo">
        <div class="col-6 padding div-skills-mongo">
          <div class="text-center" style="display:flex; justify-content: center;">
            <div class="padding-right">
              <img style="width: 40px;" src="https://iili.io/HYqPtqX.png">
            </div>
            <div class="center container-photo" style="margin-top: 5px">
              <h2>MongoDB</h2>
            </div>
          </div>
        </div>
        <div class="col-6 padding div-skills-express">
          <div class="text-center" style="display:flex; justify-content: center;">
            <div class="center container-photo" style="margin-top: 5px">
              <h2>ExpressJs</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
